<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>List of Owners</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="springpetclinic.model.Owner"*/-->
    <h2>Owners</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Id</th>
            <th style="width: 150px;">First description</th>
            <th style="width: 150px;">Last description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner : ${ownersCollection}">
            <td th:text="${owner.id}">Id</td>
            <td th:text="${owner.firstName}">First description</td>
            <td th:text="${owner.lastName}">Last description</td>
        </tr>
        </tbody>
    </table>
</body>
</html>